body {
  margin: 5% 10%;
}

code {
  margin-left: 20px;
  font-size: .85em;
  background-color: #f0f0f0;
}

#internalScriptContainer {
    width: 100%;
    margin-bottom: 5%;
}

#internalScript {
  width: 50%;
  float: left;
}

#internalScript p {
  margin-top: 0;
  margin-bottom: 0;
}

#internalScriptOutput {
  width: 46%;
  float: right;
  padding-left: 4%;
  background-color: pink;
}

#internalScriptOutput p {
  color:red;
}

#externalScriptContainer {
  width: 100%;
  margin-bottom: 5%;
  clear: both;
}

#externalScript {
  width: 50%;
  float: left;
}

#externalScriptOutput {
  width: 46%;
  float: right;
  padding-left: 4%;
  background-color: grey;
}

#externalScriptOutput p {
  color:green;
}
